<h1>Coaching</h1>
<h2>Sign up</h2>

<form action="/login" method="get">
  <input type="submit" value="Login" id='login-btn'>
</form>
<form action="/sign_up" method="get">
  <input type="submit" value="Sign Up" id='signup-btn'>
</form>